@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  color: rgb(54, 74, 97);
  font-family: "Open Sans";
}

input {
  border: none;
  outline: none;
}

.container {
  background-color: white;
  width: 1400px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: 0px 0px 20px 5px rgba(171, 171, 171, 0.1);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 10px 30px 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.mb-16 {
  margin-bottom: 16px;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.top-panel {
  background-color: rgb(91, 129, 180);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
}
.top-panel__logo a {
  font-size: 24px;
  padding: 0 10px;
  display: block;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
.top-panel__logo a:hover {
  color: rgb(255, 217, 0);
  border: 1px solid rgb(255, 217, 0);
}
.top-panel__nav {
  display: flex;
  gap: 20px;
}
.top-panel__nav a {
  color: white;
}
.top-panel__nav a:not(:last-child) {
  margin-right: 30px;
}
.top-panel__nav a:hover {
  color: rgb(255, 217, 0);
}

.icon-logout {
  display: block;
  position: relative;
}
.icon-logout::after {
  position: absolute;
  left: -30px;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/logout.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.form {
  margin: 0 auto;
}
.form__input-group {
  margin-bottom: 30px;
}
.form input {
  height: 38px;
  padding-left: 8px;
}

.auth-form {
  width: 550px;
}

.task-form {
  width: 800px;
}
.task-form__personal-info {
  margin-bottom: 30px;
}
.task-form p {
  font-size: 22px;
}
.task-form p span {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
.task-form .form-btn-block {
  justify-content: center;
}

.input-block {
  display: flex;
  align-items: end;
  height: 38px;
  gap: 15px;
}
.input-block:not(:last-child) {
  margin-bottom: 22px;
}
.input-block label {
  flex: 0 0 140px;
  font-weight: 600;
  text-align: end;
  white-space: nowrap;
}
.input-block input {
  flex: 1 1 auto;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-bottom: 1px solid rgba(91, 129, 180, 0.4);
  font-size: 18px;
  color: rgb(54, 74, 97);
}
.input-block input:focus {
  border-bottom: 1px solid blue;
}

.input-checkbox-block {
  display: flex;
  gap: 15px;
}
.input-checkbox-block label {
  flex: 0 0 140px;
  font-weight: 600;
  text-align: end;
  white-space: nowrap;
}
.input-checkbox-block input[type=checkbox] {
  width: 100%;
  height: 100%;
}
.input-checkbox-block .fake-checkbox {
  outline: 2px solid #456897;
  border-radius: 4px;
  width: 22px;
  height: 22px;
}

.table {
  width: 100%;
  border: 1px solid rgb(91, 129, 180);
  margin-bottom: 16px;
}

.table-header {
  background-color: rgb(91, 129, 180);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.table-header .column a {
  color: white;
}
.table-header .column {
  text-align: center;
}
.table-header .column:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.table-header .sort-link {
  position: relative;
  padding: 0 20px;
}
.table-header .sort-link::after {
  content: "";
  width: 11px;
  height: 15px;
  top: 6px;
  right: 0;
  position: absolute;
  background-image: url("../images/sort.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.table-header .sort-link.is-sorted {
  color: #0e0;
}
.table-header .sort-link.is-sorted.sort-asc::after {
  background-image: url("../images/sort-asc.svg");
}
.table-header .sort-link.is-sorted.sort-desc::after {
  background-image: url("../images/sort-desc.svg");
}

.table-body .column:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  border-bottom: 1px solid #ededed;
}
.row:nth-child(even) {
  background-color: #f7f7f7;
}

.column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column:not(:last-child) {
  padding: 8px;
  border-right: 1px solid rgba(91, 129, 180, 0.1);
}
.column:last-child a:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}
.column a {
  color: rgb(54, 74, 97);
}
.column .task-is-done {
  color: rgb(0, 159, 0);
  font-weight: 600;
}
.column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.col-0 {
  flex: 0 0 100%;
  text-align: center;
  padding: 8px;
}

.col-1 {
  flex: 0 0 15%;
}

.col-2 {
  flex: 0 0 15%;
}

.col-3 {
  flex: 0 0 42%;
}

.col-4 {
  flex: 0 0 24%;
}

.col-4-5 {
  flex: 0 0 27%;
}

.col-5 {
  flex: 0 0 4%;
}

.edit-icon {
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.edit-icon:hover {
  background-image: url("../images/edit-white.svg");
}

.table-message {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-style: italic;
}

.btn-block {
  display: flex;
  margin-bottom: 16px;
}

.form-btn-block {
  display: flex;
  align-items: center;
}

.btn {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 120px;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-link {
  background-color: white;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 17px;
  text-decoration: underline;
}

.btn-green {
  border: 1px solid green;
  color: green;
}

.btn-green:hover {
  background-color: green;
  color: white;
}

.btn-blue {
  border: 2px solid rgb(91, 129, 180);
  color: #3f5671;
}

.btn-blue:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}

.pagination-block {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(91, 129, 180);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  color: rgb(54, 74, 97);
  transition: 0.2s;
}
.pagination a.active {
  background-color: rgb(91, 129, 180);
  color: white;
}

.pagination a:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 169, 130, 0.5529411765);
  border: 1px solid orange;
  border-radius: 5px;
  height: 42px;
  margin-bottom: 16px;
  padding: 16px;
  color: rgb(115, 38, 7);
  font-size: 20px;
}

.form-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 169, 130, 0.5529411765);
  border: 1px solid orange;
  color: rgb(115, 38, 7);
  border-radius: 5px;
  height: 36px;
  margin-bottom: 16px;
}

.debug-note {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 50, 255, 0.115);
  border: 1px solid rgba(0, 50, 255, 0.5);
  border-radius: 5px;
  height: 42px;
  margin-bottom: 16px;
  padding: 16px;
  color: rgb(0, 50, 200);
  font-size: 20px;
}

.footer {
  background-color: rgb(91, 129, 180);
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  color: white;
  font-size: 14px;
}
.footer span {
  margin-right: 20px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #0e0;
}/*# sourceMappingURL=app.css.map */