@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  color: rgb(54, 74, 97);
  font-family: "Open Sans";
}

input {
  border: none;
  outline: none;
}

.container {
  background-color: white;
  width: 1400px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: 0px 0px 20px 5px rgba(171, 171, 171, 0.1);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 10px 30px 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #486382;
}
h1 span {
  font-weight: normal;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-30 {
  margin-bottom: 30px;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-bottom {
  align-items: flex-end;
}

.top-panel {
  background-color: rgb(91, 129, 180);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
}
.top-panel p {
  color: rgb(255, 222, 91);
  font-size: 22px;
}
.top-panel__logo a {
  font-size: 24px;
  padding: 0 10px 2px;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
}
.top-panel__logo a:hover {
  color: #fe0;
  border: 2px solid #fe0;
}
.top-panel__nav {
  display: flex;
  gap: 20px;
}
.top-panel__nav a {
  transition: 0.2s;
  color: white;
}
.top-panel__nav a:not(:last-child) {
  margin-right: 30px;
}
.top-panel__nav a:hover {
  color: #fe0;
}

.icon-logout {
  display: block;
  position: relative;
}
.icon-logout::after {
  position: absolute;
  left: -30px;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/logout.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-logout:hover::after {
  background-image: url("../images/logout-hover.svg");
}

.form {
  margin: 0 auto;
}
.form__input-group {
  margin-bottom: 30px;
}
.form input {
  height: 38px;
  padding-left: 8px;
}

.auth-form {
  width: 400px;
}
.auth-form .input-block label {
  flex: 0 0 80px;
}

.task-form {
  width: 600px;
}
.task-form__personal-info {
  margin-bottom: 30px;
}
.task-form p {
  font-size: 22px;
}
.task-form p span {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
.task-form .input-block label {
  flex: 0 0 120px;
}
.task-form .form-btn-block {
  justify-content: center;
}

.input-block {
  display: flex;
  align-items: end;
  height: 38px;
  gap: 15px;
}
.input-block:not(:last-child) {
  margin-bottom: 22px;
}
.input-block label {
  font-weight: 600;
  text-align: end;
  white-space: nowrap;
}
.input-block input {
  flex: 1 1 auto;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-bottom: 1px solid rgba(91, 129, 180, 0.4);
  font-size: 18px;
  color: rgb(54, 74, 97);
}
.input-block input:focus {
  border-bottom: 1px solid blue;
}

.input-checkbox-block {
  display: flex;
  gap: 15px;
}
.input-checkbox-block label {
  flex: 0 0 120px;
  font-weight: 600;
  text-align: end;
  white-space: nowrap;
}
.input-checkbox-block input[type=checkbox] {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.input-checkbox-block .fake-checkbox {
  outline: 2px solid #456897;
  border-radius: 4px;
  width: 22px;
  height: 22px;
}

.table {
  width: 100%;
  border: 1px solid rgb(91, 129, 180);
  margin-bottom: 16px;
}

.table-header {
  background-color: rgb(91, 129, 180);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.table-header .column a {
  color: white;
}
.table-header .column {
  text-align: center;
}
.table-header .column:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.table-header .sort-link.is-sorted {
  color: #0e0;
}

.table-body .column:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  border-bottom: 1px solid #ededed;
}
.row:nth-child(even) {
  background-color: #f7f7f7;
}

.column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column:not(:last-child) {
  padding: 8px;
  border-right: 1px solid rgba(91, 129, 180, 0.1);
}
.column:last-child a:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}
.column a {
  color: rgb(54, 74, 97);
}
.column .task-is-done {
  color: rgb(0, 159, 0);
  font-weight: 600;
}
.column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.col-0 {
  flex: 0 0 100%;
  text-align: center;
  padding: 8px;
}

.col-1 {
  flex: 0 0 15%;
}

.col-2 {
  flex: 0 0 15%;
}

.col-3 {
  flex: 0 0 42%;
}

.col-4 {
  flex: 0 0 24%;
}

.col-4-5 {
  flex: 0 0 27%;
}

.col-5 {
  flex: 0 0 4%;
}

.edit-icon {
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.edit-icon:hover {
  background-image: url("../images/edit-white.svg");
}

.table-message {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-style: italic;
}

.sort-block {
  display: flex;
  gap: 20px;
  border: 1px solid rgba(91, 129, 180, 0.8);
  border-radius: 3px;
  padding: 2px 10px;
}
.sort-block .sort-by-block {
  display: flex;
  align-items: center;
  gap: 1px;
}
.sort-block .sort-by-block span {
  margin-right: 6px;
  font-style: italic;
}
.sort-block .sort-by-block a {
  display: block;
  border-radius: 3px;
  padding: 0 4px;
  color: rgb(91, 129, 180);
  font-weight: 600;
}
.sort-block .sort-by-block a:hover {
  color: #00bb00;
}
.sort-block .sort-by-block .sort-link.is-sorted {
  color: #00a200;
}
.sort-block .sort-direct-btn-block {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort-block .sort-direct-btn-block .sort-link {
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}
.sort-block .sort-direct-btn-block .sort-link:first-child {
  background-image: url(../images/sort-up.svg);
}
.sort-block .sort-direct-btn-block .sort-link:first-child:hover {
  background-size: 90%;
  background-position: center;
}
.sort-block .sort-direct-btn-block .sort-link:first-child.is-sorted {
  background-image: url(../images/sort-up-selected.svg);
}
.sort-block .sort-direct-btn-block .sort-link:last-child {
  background-image: url(../images/sort-down.svg);
}
.sort-block .sort-direct-btn-block .sort-link:last-child:hover {
  background-size: 90%;
  background-position: center;
}
.sort-block .sort-direct-btn-block .sort-link:last-child.is-sorted {
  background-image: url(../images/sort-down-selected.svg);
}

.btn-block {
  display: flex;
  margin-bottom: 16px;
}

.form-btn-block {
  display: flex;
  align-items: center;
}

.btn {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 120px;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-link {
  background-color: white;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 17px;
  text-decoration: underline;
}

.btn-green {
  border: 1px solid green;
  color: green;
  transition: 0.2s;
}

.btn-green:hover {
  background-color: green;
  color: white;
}

.btn-blue {
  border: 2px solid rgb(91, 129, 180);
  color: #3f5671;
  transition: 0.2s;
}

.btn-blue:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}

.pagination-block {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(91, 129, 180);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  color: rgb(54, 74, 97);
  transition: 0.2s;
}
.pagination a.active {
  background-color: rgb(91, 129, 180);
  color: white;
}

.pagination a:hover {
  background-color: rgb(91, 129, 180);
  color: white;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 169, 130, 0.5529411765);
  border: 1px solid orange;
  border-radius: 5px;
  height: 42px;
  margin-bottom: 16px;
  padding: 16px;
  color: rgb(115, 38, 7);
  font-size: 20px;
}

.form-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 169, 130, 0.5529411765);
  border: 1px solid orange;
  color: rgb(115, 38, 7);
  border-radius: 5px;
  height: 36px;
  margin-bottom: 16px;
}

.debug-note {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 50, 255, 0.115);
  border: 1px solid rgba(0, 50, 255, 0.5);
  border-radius: 5px;
  height: 42px;
  margin-bottom: 16px;
  padding: 16px;
  color: rgb(0, 50, 200);
  font-size: 20px;
}

.footer {
  background-color: rgb(91, 129, 180);
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  color: white;
  font-size: 14px;
}
.footer span {
  margin-right: 20px;
}
.footer a {
  color: white;
  transition: 0.9s;
}
.footer a:hover {
  color: #0e0;
}/*# sourceMappingURL=app.css.map */