.table {
    width: 100%;
    border: 1px solid $baseBg;
    margin-bottom: 16px;
}
.table-header {
    background-color: $baseBg;
    color: $white;
    font-weight: 500;
    font-size: 15px;
    .column a {
        color: $white;
    }
    .column {
        text-align: center;
    }
    .column:not(:last-child) {
        border-right: 1px solid rgba($white, 0.1);    
    }
    .sort-link.is-sorted {
        color: #0e0;
    }
}

.table-body {
    .column:last-child a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}
.row {
    display: flex;
    border-bottom: 1px solid lighten($lightgrey, 10);
    &:nth-child(even) {
        background-color: $rowBg;
    }
}

.column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:not(:last-child) {
        padding: 8px;
        border-right: 1px solid rgba($baseBg, 0.1);
    }
    &:last-child a:hover {
        background-color: $baseBg;
        color: $white;
    }
    a {
        color: $baseText;
    }
    .task-is-done {
        color: rgb(0, 159, 0);
        font-weight: 600;
    }
    &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }
}
.col-0 { 
    flex: 0 0 100%; 
    text-align: center;
    padding: 8px;
}
.col-1 { flex: 0 0 15%; }
.col-2 { flex: 0 0 15%; }
.col-3 { flex: 0 0 42%; }
.col-4 { flex: 0 0 24%; }
.col-4-5 { flex: 0 0 27%; }
.col-5 { flex: 0 0 04%; }

.edit-icon {
    background-image: url('../images/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    &:hover {
        background-image: url('../images/edit-white.svg');        
    }
}
.table-message {
    width: fit-content;
    margin: 0 auto;
    font-style: italic;
}


.sort-block {
    label {
        margin-right: 10px;
    }
    select {
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid rgba($baseBg, .8);
        border-radius: 4px;
        margin-right: 10px;
        padding: 2px 6px;
        background-color: #fff;
        color: $baseText;
        font-weight: 500;
    }
    // option {
    //     font-family: 'Open Sans';
    // }

    .select-sort-by {
        width: 80px;
    }
    
    .select-direct-sort {
        width: 150px;
    }    
}
