.top-panel {
    background-color: $baseBg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    p {
        color: rgb(255, 222, 91);
        font-size: 22px;
    }
    &__logo a {
        font-size: 24px;
        padding: 0 10px 2px;
        display: block;
        border: 2px solid rgba($white, 0.7);
        border-radius: 5px;
        color: rgba($white, 0.9);  
        transition: .2s;  
    }
    &__logo a:hover {
        color: $yellow;
        border: 2px solid $yellow;
    }     
    &__nav {
        display: flex;
        gap: 20px;
    }
    &__nav a {
        transition: .2s; 
        color: $white; 
    }
    &__nav a:not(:last-child) {
        margin-right: 30px; 
    }

    &__nav a:hover {
        color: $yellow;
    }
}
.icon-logout {
    display: block;
    position: relative;
    &::after {
        position: absolute;
        left: -30px;
        content: '';
        width: 30px;
        height: 30px;
        background-image: url('../images/logout.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.icon-logout:hover {
    &::after {
        background-image: url('../images/logout-hover.svg'); 
    }
}