$bodyBg: rgb(239, 239, 239);
$containerShadow: 0px 0px 20px 5px rgba(171, 171, 171, 0.1);
$baseBg:  rgb(91, 129, 180);
$baseText: rgb(54, 74, 97);

$white: white;
$yellow: rgb(255, 217, 0);
$lightgrey: lightgrey;
$blue: blue;